html {
  font: $basefont;

  @include tablets {
    font-size: rem(15px);
  }

  @include phones {
    font-size: rem(12px);
  }
}

body {
  font: 14px / 1.42 "Ubuntu", Tahoma, sans-serif;
  font-weight: 300;
  color: $dark;
}

.wrapper {
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.section {
  height: 100vh;
  min-height: 650px;

  &--center {
    .container {
      justify-content: center;
    }
    .title {
      text-align: center;
    }
  }
}
