.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__menubar {
  margin-right: 15px;
}

.header__logo-img {
  width: 92px;
  height: 69px;
}

.header__links {
  display: flex;
}

.header__link:not(:last-of-type) {
  @include tablets {
    margin-right: 30px;
  }
}