.hero {
  padding: 0.8% 0 3%;
  background: url("../img/texture.png") center center/cover no-repeat,
  url("../img/home-bg.jpg") center center/cover no-repeat;
  color: $light;
}

.hero__content {
  display: flex;
  align-items: center;
  flex: 0.7;
}

.hero__content-left,
.hero__content-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__content-left {
  flex-basis: 52%;
}

.hero__content-right {
  flex-basis: 48%;
  padding-top: 5%;
}

.hero__desc {
  @include lifehack-font;
  font-size: 4.643em;
  line-height: 1;
  letter-spacing: -0.02em;
}

.hero__bottom {
  margin-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__img-wrap {
  position: relative;
}

.hero__img-overlay {
  position: absolute;
  z-index: 1;
}