.scrollbar::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

.scrollbar::-webkit-scrollbar-track {
  width: 8px;
  border-radius: 4px;
  background-color: $light;
}

.scrollbar::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 4px;
  background-color: $orange;
  border: 1px solid $dark;
}