.title {
  font-family: "Gagalin", sans-serif;
  font-size: 5.143em;
  font-weight: 400;

  &--color-orange {
    color: $orange;
  }
  &--color-light {
    color: $light;
  }

  &--color-dark {
    color: $dark;
  }
}